
// Web Fonts 
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans", type="text/css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css", type="text/css")

// Angular 
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js")

// Twitter Bootstrap 
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

// Angular Foursquare
script(src="/bower_components/angular-foursquare/foursquare.js")

// Mapbox
script(src="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js")
link(rel="stylesheet", href="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css")

// Mapbox Plugin

script(src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js")
link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css")

script(src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js")
link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css")
link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css")

// Dependencies
link(rel="stylesheet", href="/style.css")
script(src="/bundle.js")
    
// ========= Features ========= 

// Auth
script(src="/feature/auth/LoginController.js")
script(src="/feature/auth/init.js")
link(rel="stylesheet", href="/feature/auth/style.css")

// Loading
script(src="/feature/loading/LoadingController.js")
script(src="/feature/loading/init.js")
link(rel="stylesheet", href="/feature/loading/style.css")

// Map
script(src="/feature/map/MapController.js")
script(src="/feature/map/init.js")
link(rel="stylesheet", href="/feature/map/style.css")