doctype html
html(data-ng-app="checkins.app")
  head
    include deps

  body(ng-init="user=#{JSON.stringify(user)};")

    // Pass 'user' jade param to javascript
    if user
      script.
        var user = !{JSON.stringify(user)}
        console.log( 'Got user from view', user );

    // Main Content Section 
    #content
      #main(data-ng-view="")